th.col_header.parameters-col_name{
    min-width: 200px;
}

table.model tr, tr.response {
    border-bottom: 1px solid #afafaf;
}

    table.model tr td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    table.model tr p {
        margin: 0 !important;
    }

    table.model span.model-title__text {
        font-size: 90%;
    }

span.prop-enum > br {
    display: none;
}

.swagger-ui .model-hint {
    display:none !important;
}

td.response-col_status {
    font-size: 110% !important;
    font-weight: bold;
    text-align: center;
    padding: 8px 0 5px 0 !important;
    min-width: 60px !important;
}

.response p {
    margin: 0 !important;
}

.highlight-code {
    margin-bottom: 5px;
}

.curl-command {
    display: none;
}

.response-control-media-type.response-control-media-type--accept-controller {
    display: none !important;
}

section.response-controls {
    padding: 0 !important;
}

.execute-wrapper {
    padding: 0 0 10px 0 !important;
    text-align: left !important;
    margin-left: 220px;
}
.btn{
    max-width: 180px !important;
}

.opblock-section ~ .btn-group {
    margin-left: 220px;
    padding: 0 0 10px 0 !important;
}

[id$='CollectionResponse'] {
    display: none !important;
}

span.opblock-summary-path {
    min-width: 350px;
}


#swagger-ui > section > div.swagger-ui > div:nth-child(2) > div:nth-child(3) > section > div {
    display: flex;
    flex-direction: column;
}


    #swagger-ui > section > div.swagger-ui > div:nth-child(2) > div:nth-child(3) > section > div > span:nth-child(1) {
        order: 2;
    }

    #swagger-ui > section > div.swagger-ui > div:nth-child(2) > div:nth-child(3) > section > div > span:nth-child(2) {
        order: 3;
    }

    #swagger-ui > section > div.swagger-ui > div:nth-child(2) > div:nth-child(3) > section > div > span:nth-child(3) {
        order: 1;
    }