th.col_header.parameters-col_name{
    min-width: 200px;
}

table.model tr {
    border-bottom: 1px solid #d9d9d9;
}

    table.model tr td {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }

    table.model tr p {
        margin: 0 !important;
    }

    table.model span.model-title__text {
        font-size: 90%;
    }

span.prop-enum > br {
    display: none;
}