@page
@inject IConfiguration configuration
@model PromoStandards.REST.API.Pages.IndexModel
@{
    ViewData["js"] = "productview.js";
}

<div class="container">
    <div id="header">
        <h2 id="title">Product View Demo</h2>
        <fieldset id="api-section">
            <label for='input-url'>Enter a product id</label>
            <div class="input-group" id="select">
                <input type="text" class="form-control" id="product-id" value="BG349" />
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="btn-call-product-view">
                        <i class="fa fa-play"></i>
                        <span>Call</span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="product-view" style="margin-top: 20px">
        <div id="product-details" style="text-align: center">
            <h4 id="product-name">Product Name</h4>
            <p id="product-description">Product description</p>
            <div id="product-parts" style="text-align: left"></div>
        </div>
        <div id="product-inventory"></div>
        <div id="product-images">
            <div class="widget-container">
                <div id="gallery"></div>
            </div>
        </div>
        <div id="product-videos"></div>
        <div id="product-documents"></div>
        <div id="product-audios"></div>
    </div>
</div>
