@page
@model PromoStandards.REST.API.Pages.ValidatorModel
@{
    ViewData["js"] = "validator-ui.js";
    ViewData["css"] = "validator-ui.css";
}

<div class="container">
    <div id="header">
        <h2 id="title">REST Web Service Validator</h2>
        <fieldset id="url-section">
            <label for='input-url'>Endpoint URL</label>
            <div class="input-group">
                <input type='url' class="form-control" id="input-url" value="/api/products/207BLX">
                <div class="input-group-append">
                    <button class="btn btn-success" type="button" id="validate">
                        <i class="fa fa-play"></i>
                        <span>Validate</span>
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
    <div id="splitter">
        <div class="">
            <label>API Response</label>
            <code id="response"></code>
        </div>
        <div class="">
            <label>Validation Results</label>
            <code id="results"></code>
        </div>
    </div>
</div>