html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

html {
    position: relative;
    min-height: 100%;
}

.container {
    margin: 0px auto;
    padding: 10px 15px;
}

    .container #header {
        display: flex;
        display: flex;
        align-items: center;
    }

        .container #header #title {
            margin-right: 20px;
        }

        .container #header fieldset {
            border: 1px solid #d1d1d1;
            padding: 10px;
            margin: 5px 0;
            border-radius: 5px;
            flex-grow: 1;
        }

label {
    font-weight: bold;
}

fieldset, .section {
    border: 1px solid #d1d1d1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }

code {
    margin: 0;
    display: block;
    background: none;
    white-space: pre;
    overflow: auto;
    height: 100%;
    width: 100%;
    padding: 10px;
    text-align: left;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #1b1b1b;
    color: white;
    max-height: calc(100% - 40px);
}

.json-key {
    color: #ff2525;
}

.json-value {
    color: #14d8ff;
}

.json-string {
    color: #dada3a;
}


#header {
    display: flex;
    align-items: center;
}

    #header #title {
        display: inline-block;
        margin-right: 20px;
    }

    #header #url-section {
        flex-grow: 1;
    }

#splitter {
    border: 0 !important;
}

    #splitter label {
        font-size: 120%;
    }


.k-grid td.k-selected, .k-grid tr.k-selected > td {
    background-color: rgb(255 211 88 / 25%) !important;
}