
#splitter .k-pane:not(:first-child) h5 {
    margin-top: 20px;
}

.responses-inner > div + .responses-table {
    display: none;
}

.responses-inner > div > div + h4 {
    display: none;
}

#api-section a {
    float: right;
    font-size: 90%;
}
